.toglle-div{
    background-color: transparent;
    color: white;
    width: 3rem;
    border-radius: 1rem;
   border: 4px solid white;
   display: flex;
   justify-content: space-around;
   padding: 0.2rem;
}

@media(max-width  :300px){
.toglle-div{
  width: 2rem;
}

.toglle-sun{
    width: 1rem;
}

.toglle-moon{
    width: 1rem;

}
}

